<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/farm_sim/css/index.css">
	<title>Home</title>
</head>

<body>
	<header>
		<h1>Farm Sim Tracker</h1>
	</header>
	<Section>
		<div>
			<h2>Vehicles</h2>
			<p><small>See active and non-active vehicles.</small></p>
			<div class="entity-scroll">
				<div class="entity-scroll-item">
					<h3>Case IH Farmall C Series</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>John Deere 3650</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>Same Virtus 135 RVShift</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>AGCO White 8010 Series</h3>
				</div>
			</div>
		</div>
		<div>
			<h2>Items</h2>
			<p><small>All crops and other products.</small></p>
			<div class="entity-scroll">
				<div class="entity-scroll-item">
					<h3>Soybeans</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>Oats</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>Canola</h3>
				</div>
				<div class="entity-scroll-item">
					<h3>Sugar Beet</h3>
				</div>
			</div>
		</div>
	</Section>
	<Section>
		
	</Section>
	<footer>
		<!-- place holder -->
	</footer>
</body>

</html>